spring:
  profiles:
    active: dev
  main:
    banner-mode: "off"
  flyway:
    enabled: true

server:
  servlet:
    context-path: /api


logging:
  level:
    root: WARN
    com.sgerest: DEBUG
  pattern:
    console: "%d{HH:mm:ss} - %msg%n"

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs