spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sge
    username: sge
    password: sge
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true