spring:
  profiles:
    active: dev
  main:
    banner-mode: "off"
  flyway:
    enabled: false

server:
  servlet:
    context-path: /api


logging:
  level:
    root: WARN
    com.sgerest: DEBUG
  pattern:
    console: "%d{HH:mm:ss} - %msg%n"